.thumbnail {
    width: 80px;
    height: 80px;
    border-radius: 100%; /*rounded image */
    background-size: cover; /*resize image without losing its aspect ration and making it look squished */
}